:root {
  box-sizing: border-box;
  --accent-color: #3d2800;
}

.book-display {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
  padding: 1rem;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: hsl(from var(--accent-color) h s 10%);
  text-align: center;
}

.book-display > div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  border: 2px solid hsl(from var(--accent-color) h 50% 50%);
  border-radius: 6px;
  box-shadow: 0 12px 12px hsl(from var(--accent-color) h 50% 80%);
  gap: .5rem;
  padding: .5rem;
}

.book-display > div:hover {
  box-shadow: 0 12px 12px hsl(from var(--accent-color) h 50% 75%);
  transform: scale(1.002);
}

.book-display > div span {
  background-color: hsl(from var(--accent-color) h 65% 80%);
  padding: 1rem;
  border: 1px solid hsl(from var(--accent-color) h 50% 70%);
  border-radius: 4px;
}

.book-display > div span:hover,
.book-info-dialog button:hover {
  box-shadow: 3px 3px 3px hsl(from var(--accent-color) h 50% 70%) inset;
  transform: scale(1.005);
}

.book-display > div span:nth-child(1) {
  grid-column: 1 / -1;
}

.book-display > div span:nth-child(2) {
  grid-column: 1 / -1;
  grid-row: 3;
}

.book-display > div span:nth-child(3) {
  grid-column: 1;
  grid-row: 2;
}

.book-display > div span:nth-child(4) {
  grid-column: 2;
  grid-row: 2;
}

.book-info-dialog[open] {
  form {
    display: grid;
    color: var(--accent-color);
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    justify-items: stretch;
    gap: 1rem;
  }
  width: 50%;
  padding: 1rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 6px;
  border: 2px solid hsl(from var(--accent-color) h 50% 15% / .5);

}

.book-info-dialog label {
  width: 100%;
}

.book-info-dialog input,
.book-info-dialog select {
  font-size: 1rem;
  color: hsl(from var(--accent-color) h s l);
  border: 1px solid hsl(from var(--accent-color) h 50% 50%);
  padding: .5rem;
  border-radius: 4px;
  width: calc(100% - 1rem);
}

.book-info-dialog label:nth-child(1) {
  grid-column: 1 / -1;
}

.book-info-dialog label:nth-child(2) {
  grid-column: 1 / -1;
  grid-row: 2;
}

.book-info-dialog label:nth-child(3) {
  grid-row: 3;
  grid-column: 1;
}

.book-info-dialog label:nth-child(4) {
  grid-row: 3;
  grid-column: 2;
}

.book-info-dialog button {
  grid-column: 1 / 3;
  align-self: center;
  width: 60%;
  background-color:hsl(from var(--accent-color) h 50% 80%);
  padding: 1rem;
  font-size: 1rem;
  justify-self: center;
  border-radius: 6px;
}

.book-info-dialog button:active {
  transform: translateX(1px) translateY(1px);
}